.btn {
  width: 248px;
  height: 67px;
  background-color: #4485f4;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-weight: 700;
}
